@model EmployeeAvailability
@{
    ViewData["Title"] = "SearchAvailabilityByEmployee";
}

<h2>SearchAvailabilityByEmployee</h2>

@using (

Html.BeginForm("SearchResult", "ManualEmployeeAvailabilitySearch", FormMethod.Post)
)
{
<h2>SearchAvailabilityByEmployee</h2>
    <table class="table table-bordered table-striped">
        <tr>
            <td>
                @Html.Label("Select Employee (optional)")
            </td>

            <td>
                @Html.DropDownList("EmployeeID", (SelectList)ViewBag.Employees, string.Empty)
            </td>


        </tr>




    </table>


    <td>
        <input type="submit" class="btn btn-default" value="Search" />
    </td>

}