

@*@{
    ViewData["Title"] = "SearchHoursByOffice";
}*@

@model OperatingHour

@using (
Html.BeginForm("SearchResult", "ManualOperatingHours", FormMethod.Post)
)
{
<h2>SearchHoursByOffice</h2>

<table class=" table table-striped" >

    <tr>
        <td>@Html.Label("Select Office (optional)")</td>
        <td>@Html.DropDownList("OfficeID", (SelectList)ViewBag.Offices, string.Empty)</td>

    </tr>

    <tr>
        <td>
            <input type="submit" class="btn" value="Search" />
        </td>

    </tr>


</table>


}
